 
<div class="slajder">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="prva1.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="k1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="k2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  
  
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown"  data-bs-toggle="dropdown" aria-expanded="false">
           Home
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action books</a></li>
            <li><a class="dropdown-item" href="#">Romantic books</a></li>
            <li><a class="dropdown-item" href="#">Comedy books</a></li>
            <li><a class="dropdown-item" href="#">History books</a></li>
            <li><a class="dropdown-item" href="#">Documentary books</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action movies</a></li>
            <li><a class="dropdown-item" href="#">Romantic movies</a></li>
            <li><a class="dropdown-item" href="#">History movies</a></li>
            <li><a class="dropdown-item" href="#">Fantasy movies</a></li>
            <li><a class="dropdown-item" href="#">Comedy movies</a></li>
            <li><a class="dropdown-item" href="#">Adventure movies</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li>
        <li class="nav-item">
        <a class="nav-link" href="login.blade.php" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Log in
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registration
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>